
.vid-container {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 5.5rem;
  aspect-ratio: 16 / 9;
}

iframe { 
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

/* I wasnt sure if I needed the bottom specifications as it seemed like it was already responsive from what I added above? */

  /* Mobile */
  @media screen and (max-width: 768px) {
      .vid-container {
        padding-bottom: 75%;
    }
}

  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 1199px){
    .vid-container {
      padding-bottom: 42%;
    }
    }